<div class="container">
  <div class="row">
    <h2>{{ "productlist" | translate }}</h2>
  </div>
  <div class="row">
    <div class="col-md-3">Number of products: 12</div>
    <div class="col-md-3">
      <select class="form-control" (change)="filterOrder($event.target.value)">
        <option disabled>Order Here</option>
        <option>Order List</option>
        <option value="asc">Ascendent Price</option>
        <option value="desc">Descendent Price</option>
      </select>
    </div>
    <div class="col-md-3">
      <select
        class="form-control"
        (change)="filterCategorie($event.target.value)"
      >
        <option disabled>Choose your category</option>
        <option *ngFor="let item of categorie">{{ item }}</option>
      </select>
    </div>
    <div class="col-md-3">
      <button class="btn btn-success" [routerLink]="['/ajout']">
        Add product
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 product" *ngFor="let product of productsCopy">
      <div class="row">
        <img
          width="100%"
          height="130px"
          alt="Angular Logo"
          src="{{ product.image }}"
        />
      </div>
      <div class="row">{{ product.name }}</div>
      <div class="row">
        {{ product.category }} <br />{{ product.description }}
      </div>
      <div class="row  col-md-12 footer">
        <span class="prix"
          ><b>{{ product.price }} &nbsp;</b></span
        >
        <button
          class="btn btn-warning"
          [routerLink]="['/edit/' + product.reference]"
        >
          +
        </button>
      </div>
    </div>
  </div>
</div>
